body {
    margin: 0px;

}
textarea {
    width: 80%;
    height:10vh;
    display:block;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
    margin-right: 4rem;
}

#output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 1rem;
}

h1 {
    font-size:80px;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem; 
    
}
h3 {
    
    text-align: center;
    
}

.header {
    background-color: darkolivegreen;
    font-style: italic; 
    color: black;
    padding: 0.2rem 0rem;
}

.link { 
    list-style-type: none;
    text-decoration: none;
    margin-right: 0.5rem;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: medium;
    padding-left: 0.2rem;
}

#list-item-inline {
    display: inline;
    padding: 1rem;
}

footer {
    margin: 0px ;
    font-style: normal; 
    color: black;
    background-color: darkolivegreen ;
    padding-top: 1rem;



}

.footer-header {
text-align: center;
font-weight: bold;
font-size: larger;
}

#output-header {
 text-align: center;
 font-size: larger;
 font-weight: bolder;
 }

 .vertical-center {
    margin: 0.5rem;
     position: relative;
     top: 50%;
     -ms-transform: translateY(-40%);
     transform: translateX(45%);
 }

